doctype 5
html(lang-'en', xmlns:ng='http://angularjs.org', id='ng-app', ng-app='mwApp')
	head
		block head
			meta(charset='utf-8')
			title(ng-bind='mwConfig.app.title')= options.app.title
			meta(name='viewport', content='width=device-width, initial-scale=1.0')
			meta(http-equiv='X-UA-Compatible', content='IE=edge')
			link(rel='stylesheet', href=options.path.media + 'styles/application.css')
			link(rel='shortcut icon', href=options.path.media + 'icons/favicon.ico')
		block config
			script(type='text/javascript').
				function mwConfigCallback() {
					return !{ JSON.stringify(options || {}) };
				}
	body
		.container(ng-cloak, ng-show='mwIdentity.mustLogin')
			block login
				.row
					.col-lg-6.col-offset-3
						form(ng-controller='mwLoginController', name='form', novalidate, ng-submit='submit()')
							fieldset
								h2 Please sign in
								.form-group(ng-class='{ "has-error": form.username.$invalid }')
									label(for='login-username') Username
									input.form-control(type='text', name='username', id='login-username', required, ng-model='credentials.username', placeholder='Username')
									span.help-block(ng-show='form.username.$error.required') You must enter a username.
								.form-group(ng-class='{ "has-error": form.password.$invalid }')
									label(for='login-password') Password
									input.form-control(type='password', name='password', id='login-password', required, ng-model='credentials.password', placeholder='Password')
									span.help-block(ng-show='form.username.$error.required') You must enter a password.
								button.btn.btn-primary(type='submit', ng-disabled='state.submitted') Sign in

		.container(ng-cloak, ng-hide='mwIdentity.mustLogin')
			block header
				.row
					.col-lg-12
						.navbar
							a.navbar-brand(href='#') Title
							ul.nav.navbar-nav
								li.active
									a(href='#') Home
								li
									a(href='#') Link
								li
									a(href='#') Link
			block body
				.row
					.col-lg-12
						.jumbotron
							h1 Hello, world!
							p This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
							a.btn.btn-primary.btn-large Learn more
				.row
					.col-lg-4
						h2 Heading
						p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
						p
							a.btn.btn-default(href='#') View details &raquo;
					.col-lg-4
						h2 Heading
						p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
						p
							a.btn.btn-default(href='#') View details &raquo;
					.col-lg-4
						h2 Heading
						p Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.
						p
							a.btn.btn-default(href='#') View details &raquo;
		block scripts
			<!--[if lte IE 8]>
			script(type='text/javascript', src=options.path.media + 'targets/legacy.js')
			//- This is used directly because it is closely tied to the window and does not work if included with browserify.
			script(type='text/javascript', src=options.path.media + 'targets/legacy/respond.min.js')
			<![endif]-->
			<!--[if gte IE 9]>
			script(type='text/javascript', src=options.path.media + 'targets/modern.js')
			<![endif]-->
			<![if !IE]>
			script(type='text/javascript', src=options.path.media + 'targets/modern.js')
			<![endif]>
			script(type='text/javascript', src=options.path.media + 'scripts/app.js')